<div class = "static_pages">
<p>Complete the following form to create your Zoink! account!</p>

<form method="post">
	<label>
		<p>First Name*</p>
		<input type="text" name ="first_name" value="{{first_name}}" required = "True">
	</label>
	<label>
		<p>Last Name*</p>
		<input type="text" name ="last_name" value="{{last_name}}" required = "True">
	</label>
	<label>
		<p>Email Address*</p>
		<input type="text" name ="email_address" value="{{user_email}}" required = "True">
	</label>
	<label>
		<p>Password*</p>
		<input type="password" name ="first_password"   required = "True">
	</label>
	<label>
		<p>Retype Password*</p>
		<input type="password" name ="second_password"  required = "True">
	</label>
	<br><br>
	<input type = "submit" value ="submit">
</form>
</div>