<div class = "static_pages">
	<br>
	<h1>Questions, Comments and Suggestions</h1>
	<p>We can't wait to hear from you!</p>
	<p>For the fastest response from customer support please use our <a href= "http://support.zoinkgadgets.com" target="_blank">Support Site</a> or call us at 954-519-2074.</p>
	<br>
	<h1>Media Inquiries:</h1>
	<p>Kristina Allen</p>
	<p><a href ="mailto:kallen@zoinkgadgets.com">kallen@zoinkgadgets.com</a></p>
	<p>786.376.6434</p>
	<p>Attn: Zoink,Inc.</p>
	<p>108 w. 13th street</p>
	<p>Wilmington, DE 19801</p>
	
	<br>
	<div class = "static_form">
		<form name="contact_us" method ="post">
			<h3 class="orange">Contact Us</h3>
		<p>Name:</p> <input type="text" name="name" required = "yes">
		<p>Email:</p> <input type="text" name="email" required = "yes">
		<p>How can we help?</p>
		<textarea name="response" rows = "10" cols = "55"> </textarea>
		<input type="submit" value="Submit">
		</form>
	</div>
	<br>
	<br>
	<p>	You can also feel free to email our CEO, Barbara Hawkins, directly at any time: <a href="mailto:bhawk@zoinkgadgets.com">bhawk@zoinkgadgets.com</a>. She's very busy but will try to respond to all messages. If you need to submit or check on a support ticket, please use our support site (link) for the fastest response. </p>
</div>	