<div id="FAQ">
	<div id="left_Faq">
		<ul>
			<h1>Basics</h1>
			<li><a href="/FAQs/what-is-zoink">What is Zoink!?</a></li>
			<li><a href="/FAQs/how-does-zoink-work">How does Zoink! Work?</a></li>
			<li><a href="/FAQs/how-can-i-provide-feedback-to-zoink">How can I provide feedback to Zoink!?</a></li>
		</ul>	
		<ul>
			<h1>Shipping</h1>
			<li><a href="/FAQs/when-will-my-gadget-arrive">When will my gadget arrive?</a></li>
			<li><a href="/FAQs/how-long-can-i-rent-a-gadget-for">How long can i rent a gadget for?</a></li>
			<li><a href="/FAQs/when-do-i-ship-my-gadget-back">When do I ship my gadget back?</a></li>
			<li><a href="/FAQs/how-do-i-mail-my-gadget-back">How do I mail my gadget back?</a></li>
			<li><a href="/FAQs/i-lost-my-shipping-info">Help, I lost my return shipping box and label.  What should I do?</a></li>
			<li><a href="/FAQs/what-happens-if-i-mail-my-gadget-back-late">What happens if I mail my gadget back late?</a></li>
		</ul>
	</div>	
	<div id="right_Faq">	
		<ul>
			<h1>Gadgets</h1>
			<li><a href="/FAQs/can-i-suggest-an-item-for-zoink-to-carry">Can I suggest an item for Zoink! to carry?</a></li>
			<li><a href="/FAQs/will-zoink-rent-out-my-companys-gadgets">Will Zoink! rent out my company's gadget?</a></li>
			<li><a href="/FAQs/i-left-sensitive-information-on-my-gadget">I left sensitive information on my gadget, will you remove it?</a></li>
			<li><a href="/FAQs/what-happens-to-the-apps-i-downloaded-on-my-rental">What happens to the apps I paid for and downloaded onto my rental gadget?</a></li>
			<li><a href="/FAQs/what-if-i-want-to-keep-my-item-longer-than-my-paid-time-period">What if I want to keep my item longer than my paid time period?</a></li>
			<li><a href="/FAQs/can-i-buy-the-item-after-i-rent-it">What if I love the gadget and want to keep it? Can I buy it?</a></li>
			<li><a href="/FAQs/how-do-i-provide-a-rating-for-my-gadget">How do I provide a rating for my gadget?</a></li>
		</ul>	
		<ul>
		<h1>Partnerships</h1>
			<li><a href="/FAQs/who-does-zoink-like-to-partner-with">Who does Zoink! like to partner with?</a></li>
			<li><a href="/FAQs/can-zoink-provide-my-company-with-feedback-about-our-gadget">Can Zoink! provide my company with feedback about our gadget?</a></li>
		</ul>
	</div>		
</div>	

