<footer>
	<div id="footer_content">
		<div id="footer_news">
			<ul>
				<h1>About us</h1>
				<li><a href="/pages/the-team">The Team</a></li>
				<li><a href="/FAQs">FAQs</a></li>
			</ul>
	
			<ul>
				<h1>Get in Touch</h1>
				<li><a href="/pages/contact">Contact Us</a></li>
				<li><a href="http://support.zoinkgadgets.com" target="_blank">Help Desk</a></li>
				<li><a href="/pages/suggestions">Suggest a Gadget</a></li>
			</ul>	
	
			<ul>
				<h1>Partnerships</h1>
				<li><a href="/pages/partnerships/what-it-means">What it means</a></li>
				<li><a href="/pages/partnerships/current-partners">Current Partners</a></li>
			</ul>
	
			
			<ul>
				<h1>Policies</h1>
				<li><a href="/pages/privacy">Privacy Policy</a></li>
				<li><a href="/pages/refunds">Refund Policy</a></li>
			</ul>	
		</div>		
		<div id="social">
			<ul>
				<li><a href = "http://www.facebook.com"><img src="/images/facebook.png" alt="Facebook"></a></li>
				<li><a href = "http://www.social.com"><img src="/images/social.png" alt="Facebook"></a></li>
				<li><a href = "http://www.goolgeplus.com"><img src="/images/GooglPlus.png" alt="Facebook"></a></li>
				<li><a href = "http://www.twitter.com"><img src="/images/twitter.png" alt="Facebook"></a></li>
			</ul>
		</div>
	</div>
</footer>		
</body>

</html>