<div class="static_pages">
<p class="page_title">Refund and Return Policy</p>

<h1>Cancellations & Refunds</h1>

<p>Cancellations more than 20 days before the rental start date are eligible for a full refund back to the
original credit card. Cancellations within 20 days up to 3 days before the rental start date will receive
a merchandise credit in the order amount which is good towards a future rental or purchase. A product
order is unable to be canceled within 3 days of the rental state date.</p>

<h1>Damaged Items & Exchanges</h1>

<p>If an item arrives to the address specified on the users account damaged and/or unable to function
properly (as determined by Zoink!, Inc), the consumer may fill out the following form (insert form)
to request an item exchange. The consumer will have to ship the original item back to Zoink!, Inc and
will receive another product, of the same brand, type and size, to rent for the same specified number of
days as the original rental period. If an item arrives to the address specified on the users account fully
functioning, the user may not exchange the item for another or receive a refund for the rental.</p>

<p>If a product is returned, of the renters own accord, to Zoink!, Inc earlier than the end rental date, the
owner will not receive any refund for days “not used” during the specified rental period.</p>

<h1>Purchase of Products</h1>

<p>Zoink!, Inc is not responsible for any damages to product after purchase of the product is complete.
After the purchase of a product is complete, the purchased item may not be returned to Zoink! for any
reason nor will the consumer be able to receive any type of refund regarding purchased product. All
sales are final for rental items that are later purchased by the consumer.</p>

<p>Requests that deviate from the above policies will be considered, on an individual basis, by the co-
founders of Zoink, Inc. To reach the co-founders, email cofounders@zoinkgadgets.com</p>
</div>