<div class = "static_pages">
	<br>
	<h1>Which gadget should we offer next?</h1>
	<p>Do you want to rent a gadget that we don't currently offer? Cool! We're always looking for new products to add. </p>
	<p>Let us know which gadget(s) you'd like to see added:</p>
	<br>
	<div class = "static_form">
			<form name="suggestions"  method="post">
				<h3 class="orange">Gadget Suggestions</h3>
			<p>Name:</p> <input type="text" name="name" required = "yes">
			<p>Email:</p> <input type="text" name="email" required = "yes">
			<p>Gadget Name:</p> <input type="text" name="email" required = "yes">
			<p>Link to Gadget:</p> <input type="text" name="email" required = "yes" Placeholder="www.gadget.com">
			<p>Desired rental price (weekly):</p> <input type="text" name="email" required = "no">
			<input type="submit" value="Submit">
			</form>
	</div>	
</div>	