<div class="static_pages">
	<p class = "page_title">Hi, nice to meet you!</p>
	<h1>Barbara Hawkins</h1>
	<h2>Cofounder & CEO</h2>
	<p>Barbara began her career in higher education at Florida International University where she served in various student leader roles including: 			Resident Assistant, International Alternative Spring Break Site Leader, and Orientation Leader. Barbara went on to get her M.A. In Student Affairs Administration from Michigan State University where she was responsible,along with a leadership team, for a building of 1,000 students. Barbara has also worked for Johns Hopkins University, Brown University, and currently works at Stetson University as a Residential Life Coordinator overseeing 3 buildings and 500 students. </p>
	<p><a href ="mailto:bhawk@zoinkgadgets.com">bhawk@zoinkgadgets.com</a></p>
	<p><a href = "https://twitter.com/barbara_hawkins">@barbara_hawkins</a></p>
	<br>
	<br>

	
	<h1>Kristina Allen</h1>
	<h2>Cofounder & CMO</h2>
	<p>Kristina started her career in social marketing at Comcast and developed a deep love for conversion-oriented online marketing at ion interactive (Inc. 500). She has consulted for and worked with amazing entrepreneurs at startups like Nimble CRM, Shopify, UserTesting.com, Jogonaut and others. Most recently she was head of online marketing at a Miami ad agency where she worked with national and international brands. </p>
	<p>Today Kristina just likes to be heads down working on Zoink! with Barbara and Tom.</p>
	<p><a href ="mailto:kallen@zoinkgadgets.com">kallen@zoinkgadgets.com</a></p>
	<p><a href = "https://twitter.com/allenkristina">@allenkristina</a></p>
	<br>
	<br>

	
	<h1>Tom Seward</h1>
	<h2>CTO</h2>
	<p>Tom's career has been focused on developing technology to analyze data.  He has held positions in business intelligence and financial analysis, but he got his start in consulting where he advised clients on sourcing strategy. Most recently, Tom lead the development of a custom project management software system for Pyramid Tubular Technologies, Inc.</p>
	<p>Tom is a graduate of Michigan State University with a degree in Economics.</p>
	<p><a href ="mailto:tseward@zoinkgadgets.com">tseward@zoinkgadgets.com</a></p>
	<p><a href = "https://twitter.com/thomas_seward">@thomas_seward</a></p>
</div>	