<div class = "static_pages">
	<br>
	<H1>Howdy, Partner!</H1>
	<p>At Zoink! we love our brand partners. They are the coolest and brightest group of companies creating the best gadgets in the whole world like _____ and _______.</p>
	<p>Our Brand Partners use Zoink! as a platform to:</p>
	<ul>
		<li>Get discovered by new customers</li>
		<li>Gather feedback from real customers</li>
		<li>Increase Sales</li>
	</ul>
	<p>Is your company doing big things in the gadget world? If so, we would love to talk with you about become a Zoink! Brand Partner. </p>
	<p>You can fill out the form below for a brochure with more information about how a Zoink! Brand Partnership will benefit your business:</p>
	<br>
	<div class = "static_form">
			<form name="partnership" method="post">
				<h3 class="orange">Request Partnership Info</h3>
			<p>Name:</p> <input type="text" name="name" required = "yes">
			<p>Company Name:</p> <input type="text" name="company_name" required = "yes">
			<p>Email:</p> <input type="text" name="email" required = "yes">
			<p>Phone Number:</p> <input type="text" name="phone_number" required = "yes">
			<p>Or you can email <a href="mailto:kallen@zoinkgadgets.com">Kristina Allen</a> directly.</p>
			<input type="submit" value="Submit">
			</form>
	</div>
</div>	